|$("#modal").modal('toggle').html("#{j render 'popup_show' }");
|$(document).on("turbolinks:load", function(){
//            $('.datepicker').datepicker();
|
|            cancel_button();
|            approve_button();
|            reject_button();
|          });