//=*
@import "material";
@import "font-awesome";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "bootstrap-datepicker3";
@import "datatables";
@import 'datatables/dataTables.bootstrap4';
@import 'datatables/extensions/Responsive/responsive.bootstrap4';
@import 'datatables/extensions/Buttons/buttons.bootstrap4';
@import 'flatpickr';
@import 'sweetalert2';
body{
  background-color: #eeeeee;
}
a:hover{
	background-color: transparent;
}
.dl-horizontal dt{
	clear: left;
	float: left;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 150px
}

.dl-horizontal dd{
	margin-left: 140px;
}
dt.label{
	font-family: Arial;
	color: black;
	font-size: 14px;
}